.kata-detail__step {
  padding: 10px 20px;
  border-left: 2px solid var(--secondary--color);
  color: var(--gray--color);
  margin: 10px;
}

.kata-dtail_finished {
  background: #ddf0d7;
  border-color: #a4cd98;
  color: #1c652c;
  padding: 10px 35px 10px 14px;
  border-radius: 4px;
  margin: 10px 0;
}
