.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--gray--color);
  color: var(--light--color);
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  height: 100px;
}

.beian {
  display: flex;
  align-items: center;
}

.beian a {
  color: white;
  text-decoration: none;
  margin: 15px;
}

.gong-an-beian-number {
  float: left;
  height: 20px;
  line-height: 20px;
  margin: 0px 0px 0px 5px;
}

.gong-an-beian {
  display: inline-block;
  text-decoration: none;
  height: 20px;
  line-height: 20px;
}