.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border: 1px solid yellow;
}

.layout__header {
  display: block;
}

.layout__body {
  flex: 1;
}

.layout__footer {
  display: block;
}
